/* common */
.line {
  text-decoration: line-through;
}

input {
  color: #fff;
}
input::-moz-placeholder {
  color: #fff;
}
input:-ms-input-placeholder {
  color: #fff;
}
input::placeholder {
  color: #fff;
}

/* Loading */
.loading {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 30px;
  transition: opacity 0.5s;
}
.loading.out {
  opacity: 0;
}

/* Wrap */
#wrap {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#wrap .txt {
  position: absolute;
  z-index: 2;
  right: 30px;
  bottom: 20px;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#wrap .wrapBg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  filter: blur(10px) brightness(0.3);
  transform: scale(1.1);
}
#wrap .container {
  z-index: 3;
  position: relative;
  height: 75%;
  min-height: 500px;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0 0;
}
#wrap .container .top {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  padding: 20px 20px 40px;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
#wrap .container .top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #32546d;
  filter: blur(2px);
  transform: scale(1.1);
  z-index: 0;
}
#wrap .container .top .toDay {
  position: relative;
  z-index: 2;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  border: 1px solid #448aff;
  padding: 10px 15px;
  border-radius: 10px;
  background: #e5f0ff;
  color: #232323;
}
#wrap .container .top .toDay .year {
  width: 100%;
  font-size: 34px;
}
#wrap .container .top .toDay .date-wrap {
  width: 100%;
  display: flex;
}
#wrap .container .top .toDay .date-wrap .left {
  font-size: 20px;
  margin-top: 5px;
}
#wrap .container .top .toDay .date-wrap .date {
  font-size: 50px;
}
#wrap .container .top .clock {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  font-size: 100px;
  justify-content: center;
  color: #fcfcfc;
}
#wrap .container .top .clock i {
  display: inline-block;
  margin-top: 4px;
  font-size: 80px;
}
#wrap .container .contents {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  /* Login */
  /* List */
}
#wrap .container .contents .login-box {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: height 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: linear-gradient(transparent, rgba(144, 124, 231, 0.6));
}
#wrap .container .contents .login-box.out {
  height: 0;
  transition: height 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045), background 0.4s;
}
#wrap .container .contents .login-box h2 {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
}
#wrap .container .contents .login-box h2 p.active::after {
  content: "|";
  position: relative;
  top: -4px;
  opacity: 0;
  -webkit-animation: blink 0.6s infinite;
          animation: blink 0.6s infinite;
}
@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
#wrap .container .contents .login-box .login-form {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 200px;
}
#wrap .container .contents .login-box .login-form input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px 0;
  text-align: center;
  border-bottom: 2px solid rgb(243, 162, 162);
  outline: 0;
  transition: border-bottom 0.8s;
  font-size: 20px;
  background: transparent;
}
#wrap .container .contents .login-box .login-form input:focus {
  border-bottom: 2px solid rgb(140, 176, 253);
}
#wrap .container .contents .login-box .login-form input::-moz-placeholder {
  font-size: 15px;
  letter-spacing: 0.6px;
}
#wrap .container .contents .login-box .login-form input:-ms-input-placeholder {
  font-size: 15px;
  letter-spacing: 0.6px;
}
#wrap .container .contents .login-box .login-form input::placeholder {
  font-size: 15px;
  letter-spacing: 0.6px;
}
#wrap .container .contents .login-box .login-form button {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background: linear-gradient(0.5turn, #42a5f5, #42a5f5 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: 0% 0%;
  font-size: 17px;
  border: 2px solid #1895fc;
  color: #fff;
  border-radius: 30px;
  margin-top: 30px;
  transition: background 0.3s, color 0.3s;
}
#wrap .container .contents .login-box .login-form button:hover {
  background-position: 0% 100%;
  color: #42a5f5;
}
#wrap .container .contents .todo-box {
  position: relative;
  padding: 20px 30px;
  z-index: 1;
  height: 100%;
  display: flex;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s;
  /* item clear btn */
  /* lists */
}
#wrap .container .contents .todo-box > div {
  margin: 0 15px;
}
#wrap .container .contents .todo-box.opacity {
  opacity: 1;
  transition: opacity 0.5s;
}
#wrap .container .contents .todo-box .info-box {
  width: 300px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0 20px 0 20px;
  background: rgba(156, 137, 233, 0.3215686275);
}
#wrap .container .contents .todo-box .info-box .user p {
  display: inline-block;
  padding-bottom: 6px;
  border-bottom: 2px solid rgb(126, 247, 102);
  font-weight: 500;
  font-size: 24px;
}
#wrap .container .contents .todo-box .info-box .user .re-set {
  display: block;
  margin: 20px auto 0;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #8742f5;
  background: linear-gradient(0.5turn, #8742f5, #8742f5 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: 0% 100%;
  color: #8742f5;
  transition: background 0.3s, color 0.3s;
}
#wrap .container .contents .todo-box .info-box .user .re-set:hover {
  background-position: 0% 0%;
  color: #fff;
}
#wrap .container .contents .todo-box .info-box .form-box .todo-form {
  margin-bottom: 30px;
}
#wrap .container .contents .todo-box .info-box .form-box .todo-form input {
  width: 200px;
  height: 30px;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background: transparent;
  border-bottom: 2px solid rgb(253, 158, 69);
  transition: border-bottom 0.5s;
}
#wrap .container .contents .todo-box .info-box .form-box .todo-form input:focus {
  border-bottom: 2px solid rgb(37, 238, 252);
}
#wrap .container .contents .todo-box .info-box .form-box .todo-form input::-moz-placeholder {
  font-size: 13px;
}
#wrap .container .contents .todo-box .info-box .form-box .todo-form input:-ms-input-placeholder {
  font-size: 13px;
}
#wrap .container .contents .todo-box .info-box .form-box .todo-form input::placeholder {
  font-size: 13px;
}
#wrap .container .contents .todo-box .info-box .all-clear {
  height: 50px;
  border-radius: 30px;
  background: rgb(255, 97, 86);
  color: #fff;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s, transform 0.3s;
}
#wrap .container .contents .todo-box .info-box .all-clear:active {
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  transform: translateY(2px);
}
#wrap .container .contents .todo-box .item-clear {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ffae62;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #ffae62;
  color: #fff;
  font-size: 18px;
  transition: background 0.5s;
}
#wrap .container .contents .todo-box .item-clear:hover {
  background: #fa5e16;
}
#wrap .container .contents .todo-box .list-wrap {
  flex: 1;
  overflow: hidden;
  border-radius: 15px;
}
#wrap .container .contents .todo-box .list-wrap .list-tit {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  line-height: 48px;
}
#wrap .container .contents .todo-box .today-box {
  height: 100%;
}
#wrap .container .contents .todo-box .today-box .today-todo {
  height: 100%;
  background: rgba(201, 207, 212, 0.2549019608);
}
#wrap .container .contents .todo-box .today-box .today-tit {
  background: linear-gradient(#4e352c, #8d6e63);
}
#wrap .container .contents .todo-box .work-done-wrap {
  height: 100%;
}
#wrap .container .contents .todo-box .work-done-wrap .work-done-tit {
  background: linear-gradient(#373737, #616161);
}
#wrap .container .contents .todo-box .work-done-wrap .work-done-box {
  height: 100%;
  background: rgba(201, 207, 212, 0.2549019608);
}
#wrap .container .contents .todo-box .work-done-wrap .work-done-box ul li div label {
  background: url(../img/checkbox-icons.png) no-repeat 100% 0;
  background-size: cover;
}
#wrap .container .contents .todo-box ul {
  padding: 20px 10px;
  overflow-y: scroll;
  height: 85%;
}
#wrap .container .contents .todo-box ul::-webkit-scrollbar {
  width: 5px;
}
#wrap .container .contents .todo-box ul::-webkit-scrollbar-thumb {
  background: rgb(112, 109, 255);
  border-radius: 10px;
}
#wrap .container .contents .todo-box ul li {
  position: relative;
  padding: 5px 0;
  color: #232323;
}
#wrap .container .contents .todo-box ul li div {
  position: relative;
  z-index: 2;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 20px;
  transition: transform 0.3s;
  background: #fff;
  border-radius: 10px;
}
#wrap .container .contents .todo-box ul li div.on {
  transform: translateX(-40px);
}
#wrap .container .contents .todo-box ul li div.on i {
  background: rgba(255, 166, 0, 0);
}
#wrap .container .contents .todo-box ul li div input {
  position: absolute;
  left: -999999%;
}
#wrap .container .contents .todo-box ul li div label {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  background: url(../img/checkbox-icons.png) no-repeat 0 0;
  background-size: cover;
  cursor: pointer;
}
#wrap .container .contents .todo-box ul li div span {
  display: inline-block;
  width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wrap .container .contents .todo-box ul li div i {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(255, 166, 0, 0.1);
  transition: background 0.2s;
}
#wrap .container .contents .todo-box ul li button {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #ff6262;
  color: #fff;
  transition: background 0.3s;
}
#wrap .container .contents .todo-box ul li button:hover {
  background: #fa1616;
}